/* 폰트 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* no */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* lib */
.con {
    margin-left: auto;
    margin-right: auto;
}

.img-box > img {
    width:100%;
    display: block;
}

.height-100p {
    height:100%;
}

.margin-top-30 {
    margin-top:30px;
}

.text-align-center {
    text-align: center;
}

/* flex 관련 */

.flex {
    display: flex;
}

.flex-ai-c {
    align-items: center;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

/* 테이블 관련 */
.table-box>table {
    width: 100%;
    border-collapse: collapse;
}

.table-box>table th,
.table-box>table td {
    border: 1px solid black;
    padding: 10px;
}

/* 폼 관련 */
.form1 .form-control>input,
.form1 .form-control>select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
} 

/* 버튼관련 */
.btn {
    padding:5px 15px;
    display: inline-flex;
    font-weight: bold;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #3D94F6;
    color: #FFFFFF;
    text-shadow: 1px 1px 20px #000000;
}

.btn:hover {
    background-color: #1E62D0;
}

.btn-success {
    background-color: green;
}

.btn-danger {
    background-color: red;
}

.ratio-16-9::after {
    content:"";
    display: block;
    padding-top:56.25%;
}

.relative {
    position: relative;
}

.abs-full {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}